In [16]:
#importing Resource

import pandas as pd

filepath = (r"Resources\purchase_data.csv")

pymoli = pd.read_csv(filepath)
pd.options.display.float_format = '{:.2f}'.format
pymoli.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [17]:
#Player count
player_count = pymoli["SN"].nunique()
index_all = pymoli.index

Player_count_frame = {"Index":index_all,
                      "Total Players":player_count}
Player_count_df = pd.DataFrame(Player_count_frame).set_index('Index')

print("Total Players")
Player_count_df.head(1)

Total Players

       Total Players
Index
0                576

In [18]:
print("Purchasing Analysis \n---------------------------------")

unique_item = pymoli["Item Name"].nunique()
average_price = pymoli["Price"].mean()
Purchase_Count = pymoli["Purchase ID"].count()
Total_Revenue = pymoli["Price"].sum()

index_all = pymoli.index

Overview_frame = {"Index": index_all,
                 "Number of Unique Items":unique_item,
                 "Average Purchase Price":average_price,
                 "Total Number of Purchases":Purchase_Count,
                 "Total Revenue":Total_Revenue}

Overview_df = pd.DataFrame(Overview_frame).set_index('Index')
Overview_df ['Total Revenue']=Overview_df ['Total Revenue'].map('${:,.2f}'.format)

Overview_df.head(1)

Purchasing Analysis
---------------------------------

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
Index,,,,
0,179,3.05,780,"$2,379.77"

In [19]:
print("Gender Demographics" )
print("---------------------------------------" )
gender_count = pymoli["Gender"].value_counts()
gender_pct = pymoli["Gender"].value_counts(normalize=True)
gender_frame={'Gender Count':gender_count ,'Gender Percentage': gender_pct }
gender_df=pd.DataFrame(gender_frame)

gender_df ['Gender Percentage']=gender_df ['Gender Percentage'].map('{:.2%}'.format)

gender_df

Gender Demographics
---------------------------------------

                       Gender Count Gender Percentage
Male                            652            83.59%
Female                          113            14.49%
Other / Non-Disclosed            15             1.92%

In [20]:
#print("Purchasing Analysis (Gender)" )
purchase_count = pymoli.groupby(['Gender']).count()
gender_mean = pymoli.groupby(['Gender']).mean()
sum_purchase = pymoli.groupby(['Gender']).sum()
unq_player_gender=pymoli.groupby(['Gender'])['SN'].nunique()
avg_purchase_per_person = sum_purchase['Price']/unq_player_gender

In [21]:
print("Purchasing Analysis (Gender)" )
print("---------------------------------------" )
gender_frame2= {'Purchase Count' : purchase_count ['Item ID'],
                'Average Purchase Price':gender_mean['Price'],
                'Total Purchase Value': sum_purchase['Price'],
                'Average Total Purchase per Person': avg_purchase_per_person }
gender_result = pd.DataFrame(gender_frame2)

gender_result ['Average Purchase Price']=gender_result ['Average Purchase Price'].map('${:.2f}'.format)
gender_result ['Total Purchase Value']=gender_result ['Total Purchase Value'].map('${:.2f}'.format)
gender_result ['Average Total Purchase per Person']=gender_result ['Average Total Purchase per Person'].map('${:.2f}'.format)
gender_result

Purchasing Analysis (Gender)
---------------------------------------

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [22]:
#("Age Demographics" )
#("---------------------------------------" )
label_age =['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
bins = pd.cut(pymoli['Age'],bins=[0,10,15,20,25,30,35,40,100], labels = label_age )

purch_count_age = pymoli.groupby(bins)['Purchase ID'].count()
avg_purch_price = pymoli.groupby(bins)['Price'].mean()
tot_purch = pymoli.groupby(bins)['Price'].sum()
person_by_age = pymoli.groupby(bins)['SN'].nunique()
avg_purc_per_person= tot_purch/person_by_age

Age_frame={"Purchase Count":purch_count_age,
           "Average Purchase Price":avg_purch_price,
           "Total Purchase Value": tot_purch,
           "Average Purchase Total per Person": avg_purc_per_person }

In [23]:
print("Age Demographics" )
print("---------------------------------------" )
age_result=pd.DataFrame(Age_frame)

age_result ['Average Purchase Price']=age_result ['Average Purchase Price'].map('${:.2f}'.format)
age_result ['Total Purchase Value']=age_result ['Total Purchase Value'].map('${:.2f}'.format)
age_result ['Average Purchase Total per Person']=age_result ['Average Purchase Total per Person'].map('${:.2f}'.format)
age_result

Age Demographics
---------------------------------------

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
Age,,,,
<10,32,$3.40,$108.96,$4.54
10-14,54,$2.90,$156.60,$3.82
15-19,200,$3.11,$621.56,$4.14
20-24,325,$3.02,$981.64,$4.23
25-29,77,$2.88,$221.42,$3.75
30-34,52,$2.99,$155.71,$4.21
35-39,33,$3.40,$112.35,$4.32
40+,7,$3.08,$21.53,$3.08

In [24]:
#Top Spenders

sum_by_SN = pymoli.groupby(['SN'])['Price'].sum().sort_values(ascending=False)
count_by_SN = pymoli.groupby(['SN'])['Purchase ID'].count().sort_values(ascending=False)
avg_by_SN = pymoli.groupby(['SN'])['Price'].mean().sort_values(ascending=False)

SN_frame = {"Purchase Count":count_by_SN,
           "Average Purchase Price":avg_by_SN,
           "Total Purchase Value":sum_by_SN}

SN_df = pd.DataFrame(SN_frame).sort_values(by =['Total Purchase Value'] , ascending=False)
SN_df['Average Purchase Price'] = SN_df ['Average Purchase Price'].map('${:.2f}'.format)
SN_df['Total Purchase Value'] = SN_df ['Total Purchase Value'].map('${:.2f}'.format)

SN_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [25]:
#Most Popular Items

purchase_count_popular = pymoli.groupby(['Item ID', 'Item Name'])['Purchase ID'].count()
Total_purchase_popular = pymoli.groupby(['Item ID', 'Item Name'])['Price'].sum()
Item_price_popular = Total_purchase_popular/purchase_count_popular

In [26]:
print("Most Popular Items" )
print("---------------------------------------" )

popular_frame = {"Purchase Count":purchase_count_popular,
           "Item Price":Item_price_popular,
           "Total Purchase Value":Total_purchase_popular}

popular_df = pd.DataFrame(popular_frame).sort_values(by =['Purchase Count'] , ascending=False)
popular_df['Item Price'] = popular_df ['Item Price'].map('${:.2f}'.format)
popular_df['Total Purchase Value'] = popular_df ['Total Purchase Value'].map('${:.2f}'.format)


popular_df.head()

Most Popular Items
---------------------------------------

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [27]:
#print("Most Profitable Items" )
purchase_count_profitable = pymoli.groupby(['Item ID', 'Item Name'])['Item ID'].count()
Total_purchase_profitable = pymoli.groupby(['Item ID', 'Item Name'])['Price'].sum()
Item_price_profitable = Total_purchase_profitable / purchase_count_profitable

In [28]:
profitable_frame = {"Purchase Count":purchase_count_profitable,
                    "Item Price":Item_price_profitable,
                    "Total Purchase Value":Total_purchase_profitable}
profitable_df = pd.DataFrame(profitable_frame).sort_values(by =['Total Purchase Value'] , ascending=False)
profitable_df['Item Price'] = profitable_df ['Item Price'].map('${:.2f}'.format)
profitable_df['Total Purchase Value'] = profitable_df ['Total Purchase Value'].map('${:.2f}'.format)


profitable_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

In [29]:
print("My Observation")
print("1.  20- 24 years old is the biggest age group, and also the most profitable per person")
print("2.  Male gamers significantly spend more than female gamers")
print("3.  The most popular item tends to be the most profitable as well. This make sense because in online games, cost of good sold is almost nonexistent")

My Observation
1.  20- 24 years old is the biggest age group, and also the most profitable per person
2.  Male gamers significantly spend more than female gamers
3.  The most popular item tends to be the most profitable as well. This make sense because in online games, cost of good sold is almost nonexistent