In [4]:
import pandas as pd
filepath = (r"Resources\purchase_data.csv")

pymoli = pd.read_csv(filepath)

pymoli.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [12]:
print("Purchasing Analysis \n---------------------------------")
print("Number of Unique Items")
unique_item = pymoli["Item Name"].unique()
unique_item [0:10]

Purchasing Analysis
---------------------------------
Number of Unique Items

array(['Extraction, Quickblade Of Trembling Hands', 'Frenzied Scimitar',
       'Final Critic', 'Blindscythe', 'Fury', 'Dreamkiss',
       'Interrogator, Blood Blade of the Queen', 'Abyssal Shard',
       'Souleater', 'Ghastly Adamantite Protector'], dtype=object)

In [13]:
print("Average Purchase Price")
unique_item = pymoli["Price"].mean()
unique_item

Average Purchase Price

3.050987179487176

In [14]:
print("Total Number of Purchases")
Purchase_Count = pymoli["Purchase ID"].count()
Purchase_Count

Total Number of Purchases

780

In [15]:
print("Total Revenue")
Total_Revenue = pymoli["Price"].sum()
Total_Revenue

Total Revenue

2379.77

In [26]:
df_gender = pymoli["Gender"]
df_gender.head()

0    Male
1    Male
2    Male
3    Male
4    Male
Name: Gender, dtype: object

In [ ]:
genders = pymoli["Gender"].value_counts(normalize=True)
genders