In [202]:
import pandas as pd
import numpy as np
filepath = (r"Resources\purchase_data.csv")

pymoli = pd.read_csv(filepath)

pymoli.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [203]:
print("Purchasing Analysis \n---------------------------------")
print("Number of Unique Items")
unique_item = pymoli["Item Name"].unique()
np.count_nonzero(unique_item)

Purchasing Analysis
---------------------------------
Number of Unique Items

179

In [204]:
print("Average Purchase Price")
unique_item = pymoli["Price"].mean()
unique_item

Average Purchase Price

3.050987179487176

In [205]:
print("Total Number of Purchases")
Purchase_Count = pymoli["Purchase ID"].count()
Purchase_Count

Total Number of Purchases

780

In [206]:
print("Purchasing Analysis \n---------------------------------")
print("Number of Unique Items")
np.count_nonzero(unique_item)


print("Total Revenue")
Total_Revenue = pymoli["Price"].sum()
Total_Revenue

Purchasing Analysis
---------------------------------
Number of Unique Items
Total Revenue

2379.77

In [207]:
print("Gender Demographics" )
print("---------------------------------------" )
gender_count = pymoli["Gender"].value_counts()
gender_pct = pymoli["Gender"].value_counts(normalize=True)
gender_frame={'Gender Count':gender_count ,'Gender Percentage': gender_pct }
gender_df=pd.DataFrame(gender_frame)
gender_df

Gender Demographics
---------------------------------------

                       Gender Count  Gender Percentage
Male                            652           0.835897
Female                          113           0.144872
Other / Non-Disclosed            15           0.019231

In [208]:
print("Purchasing Analysis (Gender)" )
print("---------------------------------------" )
gender_purchase_anls=pd.pivot_table(pymoli, index=['Gender'], values=['Purchase ID','Price', 'Item ID' ],
                                    aggfunc={'Purchase ID':np.count_nonzero,
                                            'Price':[np.mean, sum],
                                             'Item ID':pd.Series.nunique })
gender_purchase_anls

Purchasing Analysis (Gender)
---------------------------------------

                      Item ID     Price            Purchase ID
                      nunique      mean      sum count_nonzero
Gender
Female                     90  3.203009   361.94           113
Male                      178  3.017853  1967.64           651
Other / Non-Disclosed      13  3.346000    50.19            15

In [250]:

purchase_count = pymoli.groupby(['Gender']).count()
gender_mean = pymoli.groupby(['Gender']).mean()
sum_purchase = pymoli.groupby(['Gender']).sum()
unq_player_gender=pymoli.groupby(['Gender'])['SN'].nunique()
avg_purchase_per_person = sum_purchase['Price']/unq_player_gender

unq_player_gender

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [251]:
print("Purchasing Analysis (Gender)" )
print("---------------------------------------" )
gender_frame2= {'Purchase Count' : purchase_count ['Item ID'],
                'Average Purchase Price':gender_mean['Price'],
                'Total Purchase Value': sum_purchase['Price'],
                'Average Purchase Total per Person by Age Group': avg_purchase_per_person }
gender_result = pd.DataFrame(gender_frame2)
gender_result

Purchasing Analysis (Gender)
---------------------------------------

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Age Group
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [266]:
#("Age Demographics" )
#("---------------------------------------" )
bins = pd.cut(pymoli['Age'],[0,10,15,20,25,30,35,40,45,50,55,60,100])
purch_count_age = pymoli.groupby(bins)['Purchase ID'].count()
avg_purch_price = pymoli.groupby(bins)['Price'].mean()
tot_purch = pymoli.groupby(bins)['Price'].sum()
person_by_age = pymoli.groupby(bins)['SN'].nunique()
avg_purc_per_person= tot_purch/person_by_age

Age_frame={"Purchase Count":purch_count_age,
           "Average Purchase Price":avg_purch_price,
           "Total Purchase Value": tot_purch,
           "Average Purchase Total per Person by Age Group": avg_purc_per_person }
person_by_age

Age
(0, 10]       24
(10, 15]      41
(15, 20]     150
(20, 25]     232
(25, 30]      59
(30, 35]      37
(35, 40]      26
(40, 45]       7
(45, 50]       0
(50, 55]       0
(55, 60]       0
(60, 100]      0
Name: SN, dtype: int64

In [267]:
print("Age Demographics" )
print("---------------------------------------" )
age_result=pd.DataFrame(Age_frame)
age_result

Age Demographics
---------------------------------------

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Age Group
Age,,,,
"(0, 10]",32,3.405000,108.96,4.540000
"(10, 15]",54,2.900000,156.60,3.819512
"(15, 20]",200,3.107800,621.56,4.143733
"(20, 25]",325,3.020431,981.64,4.231207
"(25, 30]",77,2.875584,221.42,3.752881
"(30, 35]",52,2.994423,155.71,4.208378
"(35, 40]",33,3.404545,112.35,4.321154
"(40, 45]",7,3.075714,21.53,3.075714
"(45, 50]",0,NaN,0.00,NaN
"(50, 55]",0,NaN,0.00,NaN
"(55, 60]",0,NaN,0.00,NaN
"(60, 100]",0,NaN,0.00,NaN